<footer class="text-center mar-tb-6">
    © <%- (new Date()).getFullYear() %> <%- siteConfig.owner.name %>, unless otherwise stated.
</footer>

<script>hljs.highlightAll();</script>
</body>
</html>

<% if (post && post.navigation && post.navigation.length) { %>
<nav class="nav">
    <% post.navigation.forEach(function(item) { %>
        <a href="<%- item.href %>"><%- item.body %></a>
    <% }) %>
</nav>
<% } %>